@page
@model ProjetoAssembly_Final.Pages.contactsModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProjetoAssembly_Final.Pages.IndexModel> Localizer
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Contactos"];
}

<link rel="stylesheet" href="~/css/pages/contacts.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/global/styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/global/layout.css" asp-append-version="true" />

<main class="main-wrapper">   
    <div class="contact-header">
        <h1>@Localizer["Contactos"]</h1>
        <p>@Localizer["Tem alguma dúvida ou sugestão? Estamos aqui para ajudar!"]</p>                
    </div>

    <div class="contact-info-grid">               
        <div class="contact-card"> 
            <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
            <h3>@Localizer["Telefone"]</h3>
            <p>@Localizer["Segunda a Sexta, 9h às 18h"]</p>
            <a href="tel:916781293" class="contact-link-btn">916 781 293</a>
        </div>

        <div class="contact-card">
            <div class="contact-icon"><i class="fa-solid fa-envelope"></i></div>
            <h3>@Localizer["E-mail"]</h3>
            <p>@Localizer["Respondemos em 24h"]</p>
            <a href="malito:fredericocrf87@hotmail.com" class="contact-link-btn">@Localizer["Enviar E-mail"]</a>
        </div>
    </div>
               
    <div class="contact-form-wrapper">
        <h3 class="form-title">@Localizer["Envie-nos uma mensagem"]</h3>
        
        @if(TempData["SuccessMessage"] != null)
        {
            <div class="alet alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        3
        <form method="post" class="contact-form">
            <div class="form-group">
                <label asp-for="Name">@Localizer["Nome"]</label>
                <input asp-for="Name" class="form-input" placeholder="@Localizer["O seu nome..."]" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">@Localizer["E-mail"]</label>
                <input asp-for="Email" class="form-input" placeholder="exemplo@email.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message">@Localizer["Mensagem"]"</label>
                <textarea asp-for="Message" class="form-control" placeholder="@Localizer["Em que podemos ajudar?"]"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-submit">
                <span>@Localizer["Enviar Mensagem"]</span>
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>
    </div>
</main>
