@page
@model ProjetoAssembly_Final.Pages.loginModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProjetoAssembly_Final.Pages.IndexModel> Localizer
@{
    Layout = null;
    ViewData["Title"] = Localizer["Login - Receitas do Frederico"];
}

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/pages/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global/layout.css" asp-append-version="true" />
</head>
<body class="Login-page">
    <div class="login-container">
        <h1>@Localizer["Entrar"]</h1>
        
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        
        <form method="post">
            <h1>@Localizer["Entrar"]</h1>
            <div class="input-group">
                <label asp-for="Input.UserName">@Localizer["Utilizador"]</label>
                <input asp-for="Input.UserName" type="text" required placeholder="@Localizer["O seu nome de Utilizador"]" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Input.Password">@Localizer["Palavra-passe"]</label>
                <input asp-for="Input.Password" type="password" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit">@Localizer["Entrar"]</button>

            <p>@Localizer["Não tem conta?"]<a asp-page="/regist">@Localizer["Registe-se aqui"]</a></p>
            <p><a asp-page="/Index" style="font-weight: normal; opacity: 0.7">@Localizer["Voltar à Home"]</a></p>
        </form>
    </div>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
