@page
@model ProjetoAssembly_Final.Pages.loginModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProjetoAssembly_Final.Pages.IndexModel> Localizer
@{
    Layout = null;
    ViewData["Title"] = Localizer["Login - Receitas do Frederico"];
}

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body class="Login-page">
    <div class="login-container">
        <div asp-validation-summary="All" class="alert alert-danger" style="margin-bottom: 20px; padding: 15px; border-radius: 8px; font-weight: bold; color: #721c24; background: #f8d7da;">
        </div>
        
        <form method="post">
            <h1>@Localizer["Entrar"]</h1>
            <div class="input-group">
                <label asp-for="Input.UserName">@Localizer["Utilizador"]</label>
                <input asp-for="Input.UserName" type="text" required placeholder="@Localizer["O seu nome de Utilizador"]" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Input.Password">@Localizer["Palavra-passe"]</label>
                <input asp-for="Input.Password" type="password" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit" style="margin-top: 25px">@Localizer["Entrar"]</button>

            <p class="signup-link">Não tem conta? <a href="/regist">@Localizer["Registe-se aqui"]</a></p>
            <p class="signup-link"><a href="/" style="font-weight: normal; opacity: 0.8;">@Localizer["Voltar à Home"]</a></p>
        </form>
    </div>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
