@page
@model ProjetoAssembly_Final.Pages.perfilModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProjetoAssembly_Final.Pages.IndexModel> Localizer
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["O Meu Perfil"];
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/perfil.css" asp-append-version="true" />
}

<div class="container-perfil">
    <section class="perfil-header">
        <div class="perfil-flex">
            <<div class="img-perfil-wrapper">
                <img src="~/img/user.icon.png" alt="Foto de Perfil" class="img-perfil-grande">
            </div>            
            <div class="info-user">
                <h1>@Localizer["Olá, Frederico!"]</h1>
                <p>@Localizer["Membro desde: Janeiro de 2026"]</p>
                <a asp-page="/perfilEdit" class="btn-principal">
                    <i class="fa-solid fa-user-gear"></i>@Localizer["Editar Dados"]
                </a>
            </div>
        </div>
    </section>

    <div class="user-stats-container">
        <div class="stat-card">
            <h3 class="status-value">@Model.TotalCriadas</h3>
            <span class="stat-label">@Localizer["Receitas Criadas"]</span>
        </div>
        <div class="stat-card">
            <h3 class="status-value color-fav">@Model.TotalFavoritos</h3>
            <span class="stat-label">@Localizer["Favoritos"]</span>
        </div>
    </div>   

    <h2 class="section-subtitle">
        <i class="fa-solid fa-utensils"></i> @Localizer["As Minhas Receitas"]
    </h2>    

    <section class="grid-perfil">
        <article class="receitas-card-perfil">
            <img src="~/img/bacalhau.jpg" alt="@Localizer["Bacalhau à Brás"]" class="card-img-perfil">
            <div class="card-info-perfil">
                <h3>@Localizer["Bacalhau à Brás"]</h3>
                
                <div class="acoes-perfil">
                    <a href="/EditarReceita?id=3" class="btn-gestao editar">
                        <i class="fa-solid fa-pen-to-square"></i>@Localizer["Editar"]
                    </a>
                    <button onclick="confirmarEliminar(3)" class="btn-gestao eliminar">
                        <i class="fa-solid fa-trash"></i> @Localizer["Apagar"]
                    </button>
                </div>
            </div>
        </article>
    </section>
</div>

@section Scripts {
    <script>
        function confirmarEliminar(id) {
            if (confirm("Tem a certeza que deseja eliminar esta receita?")) {
                console.log("Eliminar receita ID: " + id);                
            }
        }
    </script>
}
